// Here we create variables and we can use the variables in app.scss page.

// Colors Variables

$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$grey: #ccc;

//Transition 

$smooth: all .3s ease-in-out;